@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="fs-1 fw-bolder ps-4">Bienvenido <span class="text-danger"> username</span>!</span>
<div class="_bg-red col-11 mb-4 mt-2 _rounded-4 d-flex flex-column px-5 py-4  align-items-center justify-content-center">
    <div class="col-12 d-flex justify-content-between mt-2 mb-4">
        <span class="fs-3 fw-bold text-light">Reparaciones</span>
        <input class="form-control w-50 rounded-pill py-2 ps-4" placeholder="Escribe para buscar" type="text">
    </div>
    <div style="overflow-x: scroll;" class="ps-4 col-11 d-flex justify-content-center bg-light rounded-3 py-3">
        <div class="ms-5 col-4 mx-3 d-flex flex-column justify-content-center px-4 py-3 border rounded-3">
            <span class="fw-bold mb-3">Mitsubishi Lancer Evo</span>
            <img src="https://placehold.co/60x30">
            <div class="btn _bg-red mt-3 rounded-pill"><span class="fw-bold text-light">Ver más</span></div>
        </div>
        <div class="col-4 mx-3 d-flex flex-column justify-content-center px-4 py-3 border rounded-3">
            <span class="fw-bold mb-3">Mitsubishi Lancer Evo</span>
            <img src="https://placehold.co/60x30">
            <div class="btn _bg-red mt-3 rounded-pill"><span class="fw-bold text-light">Ver más</span></div>
        </div>
        <div class="col-4 mx-3 d-flex flex-column justify-content-center px-4 py-3 border rounded-3">
            <span class="fw-bold mb-3">Mitsubishi Lancer Evo</span>
            <img src="https://placehold.co/60x30">
            <div class="btn _bg-red mt-3 rounded-pill"><span class="fw-bold text-light">Ver más</span></div>
        </div>
        <div class="col-4 mx-3 d-flex flex-column justify-content-center px-4 py-3 border rounded-3">
            <span class="fw-bold mb-3">Mitsubishi Lancer Evo</span>
            <img src="https://placehold.co/60x30">
            <div class="btn _bg-red mt-3 rounded-pill"><span class="fw-bold text-light">Ver más</span></div>
        </div>
    </div>

</div>
<div style="background-color: white !important;" class="col-11  _rounded-4 px-5 py-3 mt-2 mb-5">
    <span class="fw-bold fs-4">Solicitudes pendientes</span>
    <table class="table mt-2">
        <tbody>
            <tr>
                <td class="py-3">Juan Perez Vasquez</td>
                <td>24/11/22</td>
                <td>Descripcion de la solicitud</td>
                <td>
                    <div class="btn _bg-red _rounded-4 px-4 text-light">Ver detalles</div>
                </td>
            </tr>
            <tr>
                <td class="py-3">Manuel Lopez Marin</td>
                <td>3/12/22</td>
                <td>Descripcion de la solicitud</td>
                <td>
                    <div class="btn _bg-red _rounded-4 px-4 text-light">Ver detalles</div>
                </td>
            </tr>
            <tr>
                <td class="py-3">Olga Serrano Ortega</td>
                <td>4/12/22</td>
                <td>Descripcion de la solicitud</td>
                <td>
                    <div class="btn _bg-red _rounded-4 px-4 text-light">Ver detalles</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>