@{
    ViewData["Title"] = "Home Page";
}
<div class="col-12 d-flex align-items-center justify-content-center" style="min-height: 98vh;">
    <div class="col-3 d-flex flex-column align-items-center justify-content-center py-5 px-5 _rounded-4 bg-light px-4 ">
        <span class="fs-2 fw-bold">Inicio de sesión</span>
        <span>Ingrese los siguientes datos</span>
        <input class="form-control _rounded-4 py-2 px-3 my-3" placeholder="Correo Electrónico" type="text">
        <input class="form-control _rounded-4 py-2 px-3 mb-3" placeholder="Contraseña" type="password">
        <div class="d-flex align-items-center justify-content-center p-3 fw-bold _bg-red px-4 py-2 _rounded-4 _cursor-pointer w-75">
            <span class="text-light fs-4">Iniciar sesión</span>
        </div>
    </div>
</div>