@model ProyectoIIITrimProgramacion_Mecarap.Models.ViewModels.ReparacionVM
@{
    ViewData["Title"] = "Vehículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 offset-md-4 col-md-4 text-center">
            <h1>Aceptar Reparacion</h1>
        </div>
        <div class="col-12 col-md-4"></div>
       
        <div class="col-1 col-md-1"></div>
    </div>
</div>