@model IEnumerable<ProyectoIIITrimProgramacion_Mecarap.Models.TipoUsuario>
@{
    ViewData["Title"] = " TipoUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="row d-flex flex-row align-items-center justify-content-center mb-3 mt-4">
                <h2 class="fw-bolder my-4 col-md-4 col-12">Tipo de Usuario</h2>
                <div class="col-md-6 col-12 d-flex align-items-center justify-content-center rounded-pill">
                    <input type="search" list="listaBusqueda" class="form-control" placeholder="Buscar tipo de usuario">
                </div>
                <a style="border-block: unset; border-inline: unset; border-start-start-radius: unset; border-start-end-radius: unset; border-end-start-radius: unset; border-end-end-radius: unset; overflow-inline: unset; overflow-block: unset; overscroll-behavior-inline: unset; overscroll-behavior-block: unset; margin-block: unset; margin-inline: unset; scroll-margin-block: unset; scroll-margin-inline: unset; padding-block: unset; padding-inline: unset; scroll-padding-block: unset; scroll-padding-inline: unset; inset-block: unset; inset-inline: unset; block-size: unset; min-block-size: unset; max-block-size: unset; inline-size: unset; min-inline-size: unset; max-inline-size: unset; contain-intrinsic-block-size: unset; contain-intrinsic-inline-size: unset; background: unset; background-blend-mode: unset; border: unset; border-radius: unset; box-decoration-break: unset; -moz-float-edge: unset; display: unset; position: unset; float: unset; clear: unset; vertical-align: unset; baseline-source: unset; overflow: unset; overflow-anchor: unset; transform: unset; rotate: unset; scale: unset; translate: unset; offset: unset; scroll-behavior: unset; scroll-snap-align: unset; scroll-snap-type: unset; scroll-snap-stop: unset; overscroll-behavior: unset; isolation: unset; break-after: unset; break-before: unset; break-inside: unset; resize: unset; perspective: unset; perspective-origin: unset; backface-visibility: unset; transform-box: unset; transform-style: unset; transform-origin: unset; contain: unset; container: unset; appearance: unset; -moz-orient: unset; will-change: unset; shape-image-threshold: unset; shape-margin: unset; shape-outside: unset; touch-action: unset; -webkit-line-clamp: unset; scrollbar-gutter: unset; columns: unset; column-fill: unset; column-rule: unset; column-span: unset; content: unset; counter-increment: unset; counter-reset: unset; counter-set: unset; opacity: unset; box-shadow: unset; clip: unset; filter: unset; backdrop-filter: unset; mix-blend-mode: unset; font: unset; font-synthesis: unset; font-palette: unset; math-depth: unset; math-style: unset; visibility: unset; writing-mode: unset; text-orientation: unset; print-color-adjust: unset; image-rendering: unset; image-orientation: unset; dominant-baseline: unset; text-anchor: unset; color-interpolation: unset; color-interpolation-filters: unset; fill: unset; fill-opacity: unset; fill-rule: unset; shape-rendering: unset; stroke: unset; stroke-width: unset; stroke-linecap: unset; stroke-linejoin: unset; stroke-miterlimit: unset; stroke-opacity: unset; stroke-dasharray: unset; stroke-dashoffset: unset; clip-rule: unset; marker: unset; paint-order: unset; border-collapse: unset; empty-cells: unset; caption-side: unset; border-spacing: unset; color: unset; text-transform: unset; hyphens: unset; -moz-text-size-adjust: unset; text-indent: unset; overflow-wrap: unset; word-break: unset; text-justify: unset; text-align-last: unset; text-align: unset; letter-spacing: unset; word-spacing: unset; white-space: unset; text-shadow: unset; text-emphasis: unset; text-emphasis-position: unset; tab-size: unset; line-break: unset; -webkit-text-fill-color: unset; -webkit-text-stroke: unset; ruby-align: unset; ruby-position: unset; text-combine-upright: unset; text-rendering: unset; text-underline-offset: unset; text-underline-position: unset; text-decoration-skip-ink: unset; hyphenate-character: unset; forced-color-adjust: unset; -webkit-text-security: unset; pointer-events: unset; -moz-user-input: unset; -moz-user-modify: unset; -moz-user-focus: unset; caret-color: unset; accent-color: unset; color-scheme: unset; scrollbar-color: unset; list-style: unset; quotes: unset; margin: unset; overflow-clip-margin: unset; scroll-margin: unset; outline: unset; outline-offset: unset; page: unset; padding: unset; scroll-padding: unset; inset: unset; z-index: unset; flex-flow: unset; place-content: unset; place-items: unset; flex: unset; place-self: unset; order: unset; width: unset; min-width: unset; max-width: unset; height: unset; min-height: unset; max-height: unset; box-sizing: unset; object-fit: unset; object-position: unset; grid-area: unset; grid: unset; gap: unset; aspect-ratio: unset; contain-intrinsic-size: unset; vector-effect: unset; stop-color: unset; stop-opacity: unset; flood-color: unset; flood-opacity: unset; lighting-color: unset; mask-type: unset; clip-path: unset; mask: unset; x: unset; y: unset; cx: unset; cy: unset; rx: unset; ry: unset; r: unset; d: unset; table-layout: unset; text-overflow: unset; text-decoration: unset; ime-mode: unset; scrollbar-width: unset; user-select: unset; -moz-window-dragging: unset; -moz-force-broken-image-icon: unset; transition: unset; animation: unset; animation-composition: unset; -moz-box-align: unset; -moz-box-direction: unset; -moz-box-flex: unset; -moz-box-orient: unset; -moz-box-pack: unset; -moz-box-ordinal-group: unset; cursor: pointer; --darkreader-inline-bgcolor: unset; --darkreader-inline-bgimage: unset; --darkreader-inline-border-top: unset; --darkreader-inline-border-right: unset; --darkreader-inline-border-bottom: unset; --darkreader-inline-border-left: unset; --darkreader-inline-boxshadow: unset; --darkreader-inline-fill: unset; --darkreader-inline-stroke: unset; --darkreader-inline-color: unset; --darkreader-inline-outline: unset; --darkreader-inline-stopcolor: unset;" class="_hover-1 col-md-4 col-12 mt-md-0 mt-4 border-3 _bg-red px-4 py-2 rounded-pill d-flex align-items-center justify-content-center" asp-controller="TipoUsuario" asp-action="Guardar" data-darkreader-inline-bgcolor="" data-darkreader-inline-bgimage="" data-darkreader-inline-border-top="" data-darkreader-inline-border-right="" data-darkreader-inline-border-bottom="" data-darkreader-inline-border-left="" data-darkreader-inline-boxshadow="" data-darkreader-inline-fill="" data-darkreader-inline-stroke="" data-darkreader-inline-color="" data-darkreader-inline-outline="" data-darkreader-inline-stopcolor="">
                    <svg width="15" height="15" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.27 0V10.875H0.490967V18.125H12.27V29H20.1228V18.125H31.9018V10.875H20.1228V0H12.27Z" fill="black" style="--darkreader-inline-fill: #e8e6e3;" data-darkreader-inline-fill=""></path>
                    </svg>
                    <span class="fw-bold text-black ms-2"> Nuevo</span>
                </a>
            </div>
            <div class="col-1 col-md-1"></div>
        </div>
    </div>
    <div class="row">
        @foreach(var tipoUsuario in Model)
        {
            <div class="col-4 col-md-4 d-flex justify-content-center mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">@tipoUsuario.Descripcion</h5>
                        <div class="d-flex justify-content-center">
                             <a asp-controller="TipoUsuario" asp-action="Editar" asp-route-Id="@tipoUsuario.Id" class="border px-3 py-1 me-2 rounded-pill bg-secondary">
                                <svg height="15" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.1621 4.37035L21.4957 10.3714L7.74246 23.4024L2.0955 23.993C1.33953 24.0722 0.700824 23.4666 0.784929 22.7503L1.41325 17.3962L15.1621 4.37035ZM25.4131 3.47689L22.4392 0.659191C21.5116 -0.21973 20.0071 -0.21973 19.0794 0.659191L16.2817 3.31002L22.6153 9.31105L25.4131 6.66023C26.3407 5.78084 26.3407 4.35581 25.4131 3.47689Z" fill="black" />
                                </svg>
                            </a>
                            <a asp-controller="TipoUsuario" asp-action="Eliminar" asp-route-Id="@tipoUsuario.Id" class="border px-3 py-1 rounded-pill _bg-red">
                                <svg width="15" heigh="15" viewBox="0 0 25 27" fill="black" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.7064 1.68751H17.1927L16.6824 0.701376C16.5743 0.490552 16.4078 0.313211 16.2016 0.189304C15.9955 0.0653968 15.7578 -0.000159678 15.5154 9.24577e-06H9.31099C9.0691 -0.000894122 8.83184 0.0644179 8.62639 0.188463C8.42094 0.312507 8.25562 0.490267 8.14936 0.701376L7.63912 1.68751H1.12534C0.894998 1.68751 0.674091 1.7764 0.511215 1.93464C0.348339 2.09287 0.256836 2.30748 0.256836 2.53126L0.256836 4.21876C0.256836 4.44253 0.348339 4.65715 0.511215 4.81538C0.674091 4.97361 0.894998 5.06251 1.12534 5.06251H23.7064C23.9368 5.06251 24.1577 4.97361 24.3206 4.81538C24.4834 4.65715 24.5749 4.44253 24.5749 4.21876V2.53126C24.5749 2.30748 24.4834 2.09287 24.3206 1.93464C24.1577 1.7764 23.9368 1.68751 23.7064 1.68751ZM3.14461 24.627C3.18603 25.2696 3.47799 25.8727 3.96103 26.3136C4.44408 26.7545 5.08192 26.9999 5.74469 27H19.0871C19.7499 26.9999 20.3877 26.7545 20.8707 26.3136C21.3538 25.8727 21.6457 25.2696 21.6872 24.627L22.8379 6.75001H1.99384L3.14461 24.627Z" fill="black" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
