@model ProyectoIIITrimProgramacion_Mecarap.Models.TipoAuto
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" asp-action="Eliminar" asp-controller="TipoAuto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12  d-flex justify-content-center p-1">
                <div class="card" style="width: 18rem;">
                    <img src="@Model.ImgUrl" class="card-img-top" alt="..." height="100" width="200">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span>¿Seguro de borrar el tipo de auto con los siguientes datos?</span>
                            @Model.Descripcion
                        </h5>
                        <a asp-controller="TipoAuto" asp-action="Index" class="btn btn-outline-warning">
                            <p>Cancelar</p>
                        </a>
                        <input type="hidden" asp-for="Id" value="@Model.Id"/> 
                        <button type="submit" class="btn btn-outline-danger">
                            <p>Eliminar</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>