@model ProyectoIIITrimProgramacion_Mecarap.Models.TipoAuto
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 offset-md-4 col-md-4 text-center">
            <h1>Guardar Tipo Vehículo</h1>
        </div>
        <div class="col-12 col-md-4"></div>
        <div class="col-10 offset-1 offset-md-2 col-md-9 card">
            <form action="" class="m-5">
                <input type="text" class="form-control" placeholder="Descripcion"><br>
                <input class="form-control" type="file"><br>
                <button class="btn btn-outline-primary">Ingresar</button>
                <a class="btn btn-outline-danger" asp-controller="TipoAuto" asp-action="Index">Cancelar</a>
            </form>
        </div>
        <div class="col-1 col-md-1"></div>
    </div>
</div>
