@model IEnumerable<ProyectoIIITrimProgramacion_Mecarap.Models.TipoAuto>
@{
	ViewData["Title"] = "Tipo Vehículo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 offset-md-4 col-md-4 text-center">
            <h1>Tipos de Vehiculo</h1>
        </div>
        <div class="col-12 col-md-4"></div>
        <div class="col-10 offset-1 offset-md-2 col-md-9 card">
            @if (Model.Count() > 0)
            {
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Descripción">
                    <button class="btn btn-outline-secondary" type="button">Buscar</button>
                </div>
                @foreach (var tipo in Model)
                {
                    <div class="row p-1">
                        <div class="col-12 col-md-4 d-flex justify-content-center p-1">
                            <div class="card" style="width: 18rem;">
                                <img src="@tipo.ImgUrl" class="card-img-top" alt="..." height="100" width="200">
                                <div class="card-body">
                                    <h5 class="card-title">@tipo.Descripcion</h5>
                                    <a asp-controller="TipoAuto" asp-action="Editar" asp-route-Id="@tipo.Id" class="btn btn-outline-warning">
                                        <p>Editar</p>
                                    </a>
                                    <a asp-controller="TipoAuto" asp-action="Eliminar" asp-route-Id="@tipo.Id" class="btn btn-outline-danger">
                                        <p>Eliminar</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                }
            }
            else
            {
                <div class="row p-1 text-center">
                    <p>No hay tipos de vehículo que mostrar</p>
                </div>
            }
        </div>
        <div class="col-1 col-md-1"></div>
    </div>
</div>
<div class="footer fixed-bottom">
    <div class="row">
        <div class="col-12 offset-md-11 col-md-1">
            <a class="btn btn-outline-primary m-1" asp-controller="TipoAuto" asp-action="Guardar">
                Agregar &plus;
            </a>
        </div>
    </div>
</div>